@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 30%;
    border: 2px solid white;
    border-radius: 100px;
}

.logo2 {
    width: 500px;
}

.navbar {

    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0%;
    cursor: pointer;

}

.nav-list {
    width: 50%;
    /* background: black; */
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 20px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;  
}

.nav-list li a:hover {
    color: gray;
}

.right-nav {
    /* background: blueviolet; */
    width: 50%;
    text-align: right;
}

#search {
    padding: 5px;
    font-size: 15px;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    transition: .3s ease;
}
#search:hover{
    box-shadow: 3px 3px 10px black;
}

.background {
    background: rgba(0, 0, 0, 0.7) url("images/bg.jpg");
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 73%;
}

.firstHalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondHalf {
    width: 40%;
}

.secondHalf img {
    width: 90%;
    border: 4px double white;
    border-radius: 50px;
    display: block;
    margin: auto;
    transition: .4s ease-in-out;
}
.secondHalf img:hover{
    box-shadow: 0px 0px 20px white;
}

.text-big {
    font-size: 40px;
}

.text-small {
    font-size: 20px;
    margin-top: 10px;
}

.btn {
    padding: 10px 31px;
    margin: 15px 5px;
    margin-right:20px;
    border: 2px solid white;
    border-radius: 10px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: black;
    background: white;
    box-shadow: 2px 2px 15px white;
}
.btn-sm {
    padding: 5px 15px
}
.btn-dark{
    color: black;
    border: 2px solid gray;
    font-family: 'Ubuntu', sans-serif;    
}

.thumbnail img{
    width: 75%;
}
.Section{
    padding: 30px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
}
.para{
    padding: 0px 50px;
}
.row-reverse{
    flex-direction: row-reverse;
}
.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.thumbnail img{
    border-radius: 15px;
}

.contact{
    background-color: rgba(250, 235, 215, 0.878);
    height: 80vh;
}
.text-center{
    text-align: center;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}
.form{
    max-width: 800px;
    margin: 5px auto;
}  
.form-input{
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: 2px solid gray;
    border-radius: 8px;
    margin-top: 30px;
    outline: none;
}
.text-footer{
    text-align: center;
    color: white;
    font-weight:bold;
    padding: 25px 0px;
    font-family: 'Ubuntu', sans-serif;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    top: 5%;
    right: 15px;
}
.line{
    width: 35px;
    height: 4px;
    margin: 3px 3px;
    background-color: white;
}

@media only screen and (max-width: 1100px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{    
        height: 375px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .right-nav{
        text-align: center  ;
    }
    .box-main{
        max-width: 100%;
        flex-direction: column-reverse;
    }
    .Section{
        flex-direction: column-reverse;
    }
    #search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 50px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .firstHalf{
        text-align: center;
    }
    .thumbnail img{
        width: 100%;
    }
    .para{
        padding: 0px;
    }
    .form{
        max-width: 300px;
    }
}






